{% extends 'web_project/main.html' %}
{% load static %}

{% block content %}



  <!-- Custom styles for this template -->
  <link href="carousel.css" rel="stylesheet">
</head>
<body>

<main>


 

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">

      <h2>Film of the day...</h2>
      <p>Jo Jo Rabbit</p>
      <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/shop/products/Jo%20Jo%20Rabbit/2-M">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">

      <h2>Book of the day...</h2>
      <p>Jane Eyre</p>
      <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/shop/products/Jane%20Eyre/1-B">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">

      <h2>Album of the day...</h2>
      <p>Pink Floyd - Wish you were here</p>
      <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/shop/products/Pink%20Floyd%20-%20Wish%20You%20Were%20Here/2-D">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <div class="container py-4">
 

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Art Buffs. <span class="text-muted">Who are we, you ask?</span></h1>
        <p class="col-md-8 fs-4">An art curator? A platform for bibliophiles? cinema lovers? 60's music enthusiasts? Yes.</p>
       
      </div>

    </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Got any suggestions for us? <span class="text-muted"> Drop us an email or call us!</span></h2>
          <p class="lead">curators@artbuffs.com. In case of any concerns contact us on
            +91-XXXXXXXXXX</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <img src="{% static 'img/ledzep.jpg' %}" alt="ledzepellin" style="width:100%; height:100%;">
  
        </div>
      </div>
    </div>

  <div class="row featurette">
    <div class="container px-4 py-8">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Still curious? we have your back. <span class="text-muted">some FAQs. </span></h1>
  
      
      <div class="container px-4 py-5" id="icon-grid">
    
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-1 g-4 py-5">
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
            <div>
              <h4 class="fw-bold mb-0"><strong>Am I able to download the films to my computer?</strong>
            </h4>
              <p> Yes, you can keep the film on download and watch it offline. The film lasts offline for 15 days on your computer after which you may need to redownload. </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
            <div>
              <h4 class="fw-bold mb-0"><strong>How do I create an account?</strong></h4>
              <p>Click on "Sign Up/Login" button and fill up the form to create your Art Buffs account..</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
            <div>
              <h4 class="fw-bold mb-0"><strong>Are books available in digital format?</strong></h4>
              <p>Yes, some books are! Whereas others are available in both digital and paperback format.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
            <div>
              <h4 class="fw-bold mb-0"><strong>Do I need to provide email to create an account?</strong></h4>
              <p>Yes it is mandatory.</p>
            </div>
          </div>
         
    </div>
    

    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->


<!-- FOOTER -->
<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2017–2021 Art Buffs Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</main>


  <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
</body>
{% endblock content %}